@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    /* TODO - Set vars for light mode if needed */
  }
}

@layer base {
  :root {
    --primary-dark: #01020D;
    --gray: #BBBDC0;
    --red: #C60000;
    --radius: 0.5rem
  }

  body::-webkit-scrollbar {
		@apply w-[.6rem];
	}

	body::-webkit-scrollbar-track {
		@apply bg-primary;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-primary-red rounded-md;
	}

	body::-webkit-scrollbar-thumb:hover {
		@apply bg-white;
	}

  body {
    @apply bg-primary h-full bg-[url('/pattern.svg')] bg-top  overflow-x-hidden   bg-no-repeat lg:bg-repeat-x  scroll-smooth text-white;
  }
}
